/** custom styles **/
::selection {
    color: white;
    background: #968613;
}

.ripple {
    position: absolute;
    background: rgba(150, 134, 19, 0.8) !important;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
}

@keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
}


/** single class additions **/
.overflow-overlay {
    overflow: overlay;
}

.bg-whitish-grey {
    background: #e8e8e8;
}

.scrollbar-hidden::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
 
.scrollbar-hidden::-webkit-scrollbar-track {
    background: transparent;
}
 
.scrollbar-hidden::-webkit-scrollbar-thumb {
    background: transparent;
}

.font-default {
    font-family: "Assistant", monospace, sans-serif;
}

/** These are our custom theme colors, 
 * used throughout the website **/
.color-primary {
    color: #494327;
}

.hover\:bg-primary:hover {
    background: #494327;
}

.bg-primary {
    background: #494327;
}

.color-secondary {
    color: #766a37;
}

/** Unless I can get TailwindCSS to work with node
 * this is unfortunately how we are going to have to
 * tackle the classings **/
.hover\:bg-secondary:hover {
    background: #766a37;
}

.bg-secondary {
    background: #766a37;
}

.color-accent {
    color: #968613;
}

.hover\:bg-accent:hover {
    background: #968613;
}

.bg-accent {
    background: #968613;
}

/** Image X represents bg/light-bg.png, this website is not designed for 
 * dark mode **yet** so until then we will just have one classing **/
.image-x {
    background-image: url("./bg/light-bg.png");
    background-position: 100% 100%;
}